<% include ../partials/header %>
<section>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <input type="String" placeholder="Secret Code" name="secret" autofocus></input>
        <input type="String" placeholder="Username" name="username"></input>
        <input type="password" placeholder="Password" name="password"></input>
        <button type="submit">Submit</button>
    </form>    
</section>


<% include ../partials/footer %>