<% include ../partials/header %>
<section>
<h1>Add Activity</h1>
<form action='/storms/add' method='POST'>
    <input type='text' name='name' placeholder="Name of storm" autofocus></input>
    <button type='submit'>Add</button>
</form>    
</section>


<% include ../partials/footer %>