<% include ../partials/header %>
<section>
<h1>Add Storm</h1>
<form action='/storms/add' method='POST' style="width=250px">
    <input type='text' name='name' placeholder="Name of storm" autofocus></input>
    <input type='number' name='category' placeholder='Category of storm' min='0' max='5' step='1' style="width:221px"></input>
    <button class="btn" type='submit'>Add</button>
</form>    
</section>


<% include ../partials/footer %>