<% include ../partials/header %>
<section>
<h1>Add Card</h1>
<form class="table" action='/storms/<%= stormid %>/add/card' method='POST'>
    <input type='text' name='title' placeholder="Title of card" autofocus></input>
    <input type='text' name='url' placeholder='URL of image'></input>
    <input type="text" name="desc" placeholder="Description of image"></input>
    <button class="btn" type='submit'>Add</button>
</form>    
</section>


<% include ../partials/footer %>