<% include ../partials/header %>
<section>
<h1>Edit Storm</h1>
<form action='/storms/edit/<%=storm._id%>' method='POST' style="width=250px">
    <input type='text' name='name' value="<%=storm.name%>" autofocus></input>
    <input type='number' name='category' value="<%=storm.category%>" min='0' max='5' step='1' style="width:221px"></input>
    <button class="btn" type='submit'>Save</button>
</form>    
</section>


<% include ../partials/footer %>