<% include ../partials/header %>
<header>
    <nav>
        <ul>
            <li><a href="/storms/add">Add</a></li>
        </ul>
    </nav>    
</header>
<section>
    <h1>Storms</h1>
    <% storms.forEach(function(storm){ %>
        <p><%=storm.name%> <%= storm.category%></p><a href="/storms/<%=storm._id%>">Details</a>
    <% });; %>
</section>
<% include ../partials/footer %>