<% include ./partials/header %>
<section>
    <h1>Upload a file</h1>
    <form id='uploadForm' 
    	action='/files/upload' 
    	method='post' 
    	encType="multipart/form-data">
        	<input type="file" name="sampleFile" />
        	<input type='submit' value='Upload!' />
    </form>     
</section>

<% include ./partials/footer %>